body {
    
    font-family: "consolas", "Comic Sans", cursive;
    color: #050401;
}
button{
    background-color: #230007;
    border-width: medium;
    color: #050401;
    padding: 12px 27px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.title{
    text-align: center;
}
.background{
    position:relative;
    margin:auto;
    width: 850px;
    height: 650px;
    background-color: #8AE9C1;
}
.board{
    width: 450px;
    height: 450px;
    background-color: #FFE6A7;
    transform: translate(200px, 100px);
    text-align: center;
    position: relative;
    z-index: 10;
    border: 1px solid;
}
.floor
{
    background-color: #BB9457;
    height: 650px;
    width: 850px;
    position: absolute;
    clip-path: polygon(20% 80%, 80% 80%, 100% 100%, 0% 100%);
}
.wall-left
{
    background-color: #8AE9C1;
    height: 650px;
    width: 850px;
    position: absolute;
    clip-path: polygon(0% 0%, 20% 20%, 20% 80%, 0% 100%);
}
.wall-right
{
    background-color: #8AE9C1;
    height: 650px;
    width: 850px;
    position: absolute;
    clip-path: polygon(80% 20%, 100% 0%, 100% 100%, 80% 80%);
}

.ceiling
{
    background-color: gray;
    height: 650px;
    width: 850px;
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 80% 20%, 20% 20%);
}

